img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 10px; 
  
  }
  div .profile{
    background-color: #e8e666;
    text-align: center;
    margin-bottom: 0px;
  }
  .profile h1{
    color: white;
  
  }
  
  .profile p{
    color: white;
    padding-bottom: 20px;
    margin: 50px; 
  
  }
  .contact a {
    text-decoration: none;
    font-size: 30px;  
    color: white;
    padding: 20px;
    padding-bottom: 40px;
  }
  .contact{
    padding-bottom: 50px; 
  }
  
   a:hover {
    opacity: 0.7;
  }
  
  .skills {
    text-align: right; 
    padding: 10px; 
    margin-bottom: 20px;
    /* display: inline-block; */
  
  
  }
  .skillContainer{
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
  }
  .skillContainer p{
    margin-top: 20px !important ;
  }
  .skillContainer select{
    margin: 10px !important;
    width: 20% !important;
    display: inline-block;
  }
  .skillContainer h3{
    display: inline-block;
    width: 15%;
    margin: 15px;
  }
  .info{
  margin: 10%;
  margin-bottom: 0px;
  }

  #level { 
    background-color: #4CAF50;
    border-radius: 10px;
  }
  
  .bar{
  display: inline-block;
 width: 100%;
 margin-top: 20px; 
  background-color: white;
  }
  .container h1, h2{
    display: inline;
    padding: 10px;
  }
  #hide{
    display: none;
  }
  body{
    background-color: #e2e4e5 !important; 
  }

  .slidecontainer {
    /* width: 75%; */
    display: inline-block;
   margin: 10px;
  }
  .slidecontainer p{
    color: #4CAF50;
    
  }   
  
 .slidecontainer button{
    padding: 0px !important; 
    margin: 0px !important; 
  }   
  
  .slider {
    -webkit-appearance: none;
    width: 70%;
    height: 35px;
    border-radius: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    display: inline-block;
    margin-top: 10px;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 35px;
    height: 35px;
    margin: 10px;
    border-radius: 10px;
    background: #4CAF50;
    cursor: pointer;
  }

  select{
    display: inline-block !important;
    width: 30% !important;
    margin-left: 10% !important;
  }
  p{
    margin: 20px;
  }
.post{
  width: 100% !important;
  margin-left: 0% !important;
}